<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <link rel="icon" href="assets/favicon/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/global.css" type="text/css" />
    <title>International Accessibility Task Force</title>
  </head>
  <body>
    <header><h1>International Accessibility Task Force</h1></header>
    <nav>
      <ul>
        <li><a href="/">Manifest</a></li>
        <li><a href="./users.html">Users</a></li>
        <li><a href="./developers.html">Developers</a></li>
        <li><a href="./join-us.html">Join us!</a></li>
      </ul>
    </nav>
    <main>
      <section>
        <h2>IATF Users</h2>
        <p>
          The IATF Users are a crucial part of the IATF project. If you want to be an IATF user, you must use assistive technologies in your daily
          tasks. For instance, a screen reader. IATF users are, ideally: users with blindness and low vision, deafness and hearing loss, limited
          movement, speech disabilities, photosensitivity, cognitive limitations, elders, and combinations of these. If you are not if none of these
          groups, but you use assistive technologies in your daily tasks, you might be a good fit.
        </p>
        <p>
          We will be thrilled if you <a href="https://discord.gg/D8brSJSpaZ">join our discord</a> as an IATF user and helps IATF to make technologies
          accessible for everyone.
        </p>
      </section>
    </main>
    <footer>
      <p>
        You can send accessibility requests for this webpage to
        <a href="mailto:admin@internationalaccessibilitytaskforce.com">admin@internationalaccessibilitytaskforce.com</a>
      </p>
    </footer>
  </body>
</html>
