*,
:after,
:before {
    box-sizing: border-box;
}

html {
    max-width: 80%;
    margin: auto;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial;
}

nav {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

nav ul {
    padding: 0
}

nav ul li {
    display: inline-block;
    margin-right: 1em;
}


main {
    margin-top: 2em;
    margin-bottom: 2.5em;
}

footer p {
    background:#4c00ff;
    color:  white;
    padding: 1em;
    text-align: center;
    word-wrap: break-word;
}

footer a {
    color: #fbff00
}

.skip-to-main-content-link {
    position: absolute;
    right: -9999px;
    z-index: 999;
    padding: 1em;
    color: black;
    border: 10px solid white
}

.skip-to-main-content-link:focus {
    background-color: #4c00ff;
    color: #fbff00;
    right: 10%;
    top: 0;
    margin-top: 5px;
}

@media (max-width: 800px) {
    html {
        max-width: 85%;
    }
    .skip-to-main-content-link:focus {
        right: 5%;
    }
}

@media (max-width: 600px) {
    html {
        max-width: 95%;
    }
}

