*,
:after,
:before {
    box-sizing: border-box;
}

html {
    max-width: 80%;
    margin: auto;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial;
}

nav {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

nav ul {
    padding: 0
}

nav ul li {
    display: inline-block;
    margin-right: 1em;
}


main {
    margin-top: 2em;
    margin-bottom: 2.5em;
}

footer p {
    background:#4c00ff;
    color:  white;
    padding: 1em;
    text-align: center;
    word-wrap: break-word;
}

footer a {
    color: #fbff00
}

@media (max-width: 800px) {
    html {
        max-width: 85%;
    }
}

@media (max-width: 600px) {
    html {
        max-width: 95%;
    }
}